.link {
  cursor: pointer;
  color: #6d28d2;
  text-decoration: underline;
}
.mid-btn {
  color: #303141;
  margin: 1.2rem 0;
  padding: 0 1.2rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  cursor: pointer;
  &:hover {
    color: #6d28d2;
    background-color: #6d28d21F;
  }
}

.btn-border {
  border: 1px solid #6d28d2;
}
.btn-filled {
  background-color: #6d28d2;
  color: #fff;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #892de1;
  }
}
.btn-outline {
  color: #6d28d2;
  border: 1px solid #6d28d2;
  background-color: transparent;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #6d28d21F;
  }
}
.btn-large {
  height: 4.8rem;
}
.btn-mid {
  height: 4rem;
}
.btn-ghost {
  border: none;
  color: #2a2b3f;
  padding: 0 0.8rem;
  margin: 0 -0.4rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #2a2b3f1F;
  }
}
.btn {
  position: relative;
  align-items: center;
  color: #6d28d2;
  border: none;
  border-radius: 0.4rem;
  background-color: #6d28d2;
  cursor: pointer;
  display: inline-flex;
  max-width: 100%;
  min-width: 8rem;
  padding: 0 1.2rem;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}
.page-body-main {
  max-width: 118.4rem;
  margin: 0 auto;
  padding: 3.2rem 0;
}
.page-body-section {
  max-width: 70rem;
  margin: 0 4.8rem;
}
.mb-16 {
  margin-bottom: 1.6rem;
}
.mb-24 {
  margin-bottom: 2.4rem;
}
.mb-32 {
  margin-bottom: 3.2rem;
}
.ml-24 {
  margin-left: 2.4rem;
}
.ml-32 {
  margin-left: 3.2rem;
}
.mt-36 {
  margin-top: 3.6rem;
}